header.header
	a.header__logo(href="/")
		img(src="assets/images/logo.png", alt="")
	.header-menu
		.header-menu-lang
			a.header-menu-lang__item.active(href="#") EN
			a.header-menu-lang__item(href="#") RU
		.header-menu__item
			a(href="login.html") Login
		.header-menu__item#basket
			a(href="basket-empty.html") Shopping bag
				span  (0)
		.header-menu__item#basket
			a(href="basket.html") Shopping bag
				span  (2)
		.header-menu__item#search-btn
			a(href="#") Search
			.header-menu__item-search-wrap
				form.header-menu__item-search(action="#")
					input(type="text" name="search")
					button(type='submit') Ок
		.header-menu__item
			a(href="/") Show all
		.header-menu__item
			a(href="concept-good.html") Concept only
		.header-menu__item
			a(href="basic-good.html") Without concept

.banners
	-for(var i = 0; i < 3; i++)
		a.banners-item(href="#" style="background-image:url('assets/images/banners-item.jpg')") 
			span(style="bottom: 100px" /*Отступ снизу поставить динамикой чтобы для каждого элемента задавать свой отступ*/) Special Offer