extends ../template

block variables
	- var title = '404'

block content
	.page404
		.page404__title 404
		a.page404__main(href="/") Homepage
		.page404-bot 
			a.page404-bot__item(href="https://www.instagram.com/levitacia.co/" target="_blank" rel="nofollow")
				img(src="assets/images/404-social-1.png", alt="")
			a.page404-bot__item(href="https://vk.com/levitacia_0" target="_blank" rel="nofollow")
				img(src="assets/images/404-social.png", alt="")