extends ../template

block variables
	- var title = 'Базовая карточка'

block content
	.container
		.good
			.good-gallery
				.good-gallery__close
				.good-gallery-item
					img(src="assets/images/good-item1.jpg", alt="")
				.good-gallery-item
					img(src="assets/images/good-item2.jpg", alt="")
				.good-gallery-item
					img(src="assets/images/good-item1.jpg", alt="")
			.good-content
				h1.good-content__title ICE CREAM SKULL HOODIE
				.good-content__price ₽ 36.775
				.good-content__info Ice Cream x Palm Angels capsule collection.<br/><br/>Long sleeves hooded sweatshirt in grey with Ice Cream Skull printed at front and Palm Angels logo printed at back. Black strings. Kangaroo pocket. Rib kit cuffs and hem.<br/><br/><br/>Material: 100% Cotton<br/>Color: Light Grey Multicolor
				ul.good-content-sizes
					li.good-content-sizes__item.active XS
					li.good-content-sizes__item S
					li.good-content-sizes__item M
					li.good-content-sizes__item L
					li.good-content-sizes__item XL
					li.good-content-sizes__item XXL
				a.good-content__add(href="#") Add to shopping bag
				a.good-content__guide(href="#") View size chart