extends ../template

block variables
	- var title = 'Корзина'

block content
	.basket
		.container
			h1.title Your cart
			.basket-empty
				.basket-empty__title Your cart is empty
				a.basket-empty__btn(href="/") Continue shopping