extends ../template

block variables
	- var title = 'Контакты'

block content
	.container
		h1.title Contacts
		.contacts
			.contacts__title General Brand Inquiries 
			a.contacts__link(href="mailto:director@levitacia.co") director@levitacia.co 
			.contacts__title PR, Public relations
			a.contacts__link(href="mailto:content@levitacia.co") content@levitacia.co
			.contacts__title Collaborations 
			a.contacts__link(href="mailto:design@levitacia.co") design@levitacia.co 
			.contacts__text WORKING HOURS: Monday - Friday 9.00 - 20.00