extends ../template

block variables
	- var title = 'Login'

block content
	.container
		.login
			form.login-col(action="#")
				.login-col__title Login
				label(for="login") Login email
				input(type="text" id="login")
				label(for="password") Password
				input(type="password" id="password")
				.login-col-row
					label(for="remember")
						input(type="checkbox" id="remember")
						span
						span Remember me
				span Forgot Password?
				button.login-col__btn(type="submit") Login
			form.login-col(action="#")
				.login-col__title Create an account
				label(for="email") Email
				input(type="text" id="email")
				label(for="pass") Account password
				input(type="password" id="pass")
				label(for="confirmPass") Password Confirmation
				input(type="password" id="confirmPass")
				.login-col-row
					label(for="newsletter")
						input(type="checkbox" id="newsletter")
						span
						span Sign up to the newsletter
				.login-col-row
					label(for="male")
						input(type="radio" name="sex" id="male")
						span
						span Male
					label(for="female")
						input(type="radio" name="sex" id="female")
						span
						span Female
				.login-col-row
					select
						option Country
						option Moscow
						option Moscow
						option Moscow
				.login-col-row
					label(for="privacy")
						input(type="checkbox" id="privacy")
						span
						span I have read the privacy information notice
				button.login-col__btn(type="submit") Create