extends ../template

block variables
	- var title = 'Карта'

block content
	.sait-map
		nav.sait-map-menu
			a.sait-map-menu__item(href="index.html") Главная
			a.sait-map-menu__item(href="basic-good.html") Базовая карточка
			a.sait-map-menu__item(href="concept-good.html") Концепт карточка
			a.sait-map-menu__item(href="basket.html") Корзина
			a.sait-map-menu__item(href="basket-empty.html") Пустая корзина
			a.sait-map-menu__item(href="login.html") Авторизация
			a.sait-map-menu__item(href="contacts.html") Контакты
			a.sait-map-menu__item(href="404.html") 404
			a.sait-map-menu__item(href="text.html") Текстовая страница