extends ../template

block variables
	- var title = 'О нас'

block content
	.container
		.text
			h1.title О нас
			.text__subtitle Подзаголовок
			.text__content Левитация – ощущение, возникающее в момент достижения постав  ленной цели. Наша одежда выступает манифестом постоянного самосовершенствования и символом грядущего успеха.
			
