.basket{
	&-empty{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		&__title{
			text-transform: uppercase;
			margin-bottom: 40px;
			font-weight: bold;
		}
		&__btn{
			width: 240px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			background: #000;
			text-transform: uppercase;
			font-weight: bold;
			transition: .3s;
			border: 2px solid #000;
			@media screen and (min-width:1200px) {
				&:hover{
					background: #fff;
					color: #000;
				}
			}
		}
	}
	&-content{
		margin-bottom: 100px;
		&-row{
			padding: 10px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 12px;
			&.header-row{
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 500;
				border-bottom: solid 1px #000;
				.basket-content-row-col:nth-child(2),
				.basket-content-row-col:nth-child(4){
					font-family: 'GothamPro';
				}
			}
			&-col{
				display: flex;
				align-items: center;
				&__img{
					margin-right: 10%;
					img{
						max-height: 150px;
					}
				}
				&__minus,
				&__plus{
					padding: 10px;
					cursor: pointer;
				}
				&__input{
					width: 20px;
					text-align: center;
					border: none;
					background-color: #fff;
					font-size: 14px;
				}
				&__del{
					padding: 10px;
					cursor: pointer;
					margin-left: auto;
					svg{
						width: 15px;
						height: 15px;
					}
				}
				&:first-child{
					flex: 0 0 50%;
				}
				&:nth-child(2){
					flex: 0 0 14%;
					font-family: 'Roboto', sans-serif;
					text-align: center;
					justify-content: center;
				}
				&:nth-child(3){
					flex: 0 0 14%;
					text-align: center;
					justify-content: center;
				}
				&:nth-child(4){
					flex: 0 0 14%;
					font-family: 'Roboto', sans-serif;
					text-align: center;
					justify-content: center;
				}
				&:last-child{
					flex: 0 0 8%;
					text-align: right;
				}
			}
		}
		&-total{
			display: flex;
			justify-content: space-between;
			border-top: solid 1px #000;
			border-bottom: solid 1px #000;
			padding: 25px 0;
			margin-bottom: 25px;
			&-row{
				display: flex;
				align-items: center;
				font-weight: 500;
				&__price{
					width: 130px;
					font-family: 'Roboto', sans-serif;
					font-weight: 500;
					margin-left: 30px;
				}
				input{
					height: 30px;
					text-align: center;
					background-color: #f5f5f5;
					border: none;
					font-size: 14px;
					padding: 0 10px;
				}
				&__btn{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 140px;
					height: 30px;
					background-color: #fff;
					color: #000;
					text-transform: uppercase;
					border: solid 2px #000;
					font-size: 14px;
					margin-left: 20px;
					transition: .3s;
					cursor: pointer;
					@media screen and (min-width: 1200px) {
						&:hover{
							background: #000;
							color: #fff;
						}
					}
				}
			}
		}
		&-bot{
			font-weight: 500;
			display: flex;
			justify-content: space-between;
			&__back{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 240px;
				height: 30px;
				background-color: #fff;
				color: #000;
				text-transform: uppercase;
				border: solid 2px #000;
				font-size: 14px;
				transition: .3s;
				cursor: pointer;
				@media screen and (min-width: 1200px) {
					&:hover{
						background: #000;
						color: #fff;
					}
				}
			}
			&__checkout{
				font-weight: 500;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 240px;
				height: 30px;
				background-color: #000;
				color: #fff;
				text-transform: uppercase;
				border: solid 2px #000;
				font-size: 14px;
				transition: .3s;
				cursor: pointer;
				@media screen and (min-width: 1200px) {
					&:hover{
						background: #fff;
						color: #000;
					}
				}
			}
		}
		&-aside{
			position: absolute;
			width: 21%;
			top: 210px;
			right: 3%;
			&-box{
				padding: 10px 20px;
				background-color: #fafafa;
				font-size: 10px;
				line-height: 14px;
				margin-bottom: 20px;
				.txt-uppercase{
					text-transform: uppercase;
				}
				p{
					margin-bottom: 10px;
				}
				span{
					display: block;
				}
				ul{
					list-style-type: disc;
					margin-left: 15px;
					li{
						margin-bottom: 10px;
					}
				}
				img{
					display: inline-block;
					margin-right: 5px;
				}
			}
		}
	}
}

@media screen and (max-width: 1919px){
	.basket{
		&-content{
			&-aside{
				top: 150px;
			}
		}
	}
}

@media screen and (max-width:1200px){
	.basket{
		&-content{
			display: flex;
			flex-direction: column-reverse;
			margin-bottom: 30px;
			&-main{
				margin-bottom: 30px;
			}
			&-aside{
				position: static;
				width: 100%;
			}
			&-row.header-row{
				font-size: 12px;
			}
		}
	}
}

@media screen and (max-width:767px){
	.basket{
		&-content{
			&-row{
				position: relative;
				font-size: 10px;
				&.header-row{
					display: none;
				}
				&-col{
					&__img{
						margin-right: 10px;
						img{
							max-height: 90px;
						}
					}
					&__del{
						svg{
							width: 10px;
							height: 10px;
						}
					}
					&:nth-child(2){
						display: none;
					}
					&:nth-child(4){
						white-space: nowrap;
					}
					&:last-child{
						position: absolute;
						top: 0;
						right: -10px;
					}
				}
			}
			&-total{
				align-items: flex-start;
				flex-direction: column;
				&-row{
					flex-wrap: wrap;
					width: 100%;
					&:first-child{
						margin-bottom: 30px;
					}
					input{
						width: 100%;
						margin-bottom: 10px;
					}
					&__btn{
						width: 100%;
						margin-left: 0;
					}
				}
			}
			&-bot{
				flex-direction: column-reverse;
				width: 100%;
				&__checkout{
					width: 100%;
					margin-bottom: 10px;
				}
				&__back{
					width: 100%;
				}
			}
		}
	}
}