.main{
	display: flex;
	align-items: flex-start;
	&-filters{
		margin-top: 400px;
		margin-left: 97px;
		&__title{
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			position: relative;
			padding-right: 20px;
			cursor: pointer;
			margin-bottom: 3px;
			&:after,
			&:before{
				content: '';
				width: 10px;
				height: 2px;
				background: #000;
				position: absolute;
				right: 0;
				top: 7.5px;
			}
			&:after{
				transform: rotate(90deg);
				transition: .3s;
			}
			&.active{
				&:after{
					transform: rotate(0)
				}
			}
		}
		&__clear{
			margin-bottom: 30px;
			background: none;
			border: none;
			padding: 0;
			font-size: 12px;
			color: #ababab;
			cursor: pointer;
			display: none;
		}
		&-categories{
			display: none;
			&__title{
				font-size: 12px;
				text-transform: uppercase;
				margin-bottom: 8px;
				font-weight: bold;
			}
			&-items{
				margin-bottom: 20px;
				&__link{
					font-size: 12px;
					margin-bottom: 5px;
					cursor: pointer;
				}
				&__input{
					display: none;
					&:checked + label{
						font-weight: 500;
					}
				}
			}
		}
	}
	&-items{
		max-width: 62%;
		margin: 0 auto 150px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
		grid-gap: 40px 20px;
		padding-top: 170px;
		&-wrap{
			margin-left: -184px;
		}
		&-card{
			-webkit-tap-highlight-color: transparent;
			&-img{
				position: relative;
				img{
					width: 100%;
					max-height: 100%;
				}
				&-top{
					background: #fff;
					position: relative;
					z-index: 2;
					transition: .4s;
				}
				&-bot{
					position: absolute;
					top: 0;
					left: 0;
				}
				&-top,
				&-bot{
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			&-info{
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&__title{
					text-align: center;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: bold;
					margin-bottom: 5px;
				}
				&__status{
					font-size: 10px;
					margin-bottom: 5px;
				}
				&__price{
					font-family: 'Roboto', sans-serif;
					font-size: 12px
				}
			}
			&:hover{
				.main-items-card-img-top{
					opacity: 0;
					transition: .4s;
				}
			}
		}
	}
}
