@import 'common/normalize';

*:focus{
	outline: none;
}
*{
	box-sizing: border-box;
}
html,
body{
	display: block;
	color: #000;
	margin: 0;
	font-family: 'GothamPro';
	position: relative;
}
a{
	text-decoration: none;
	color: unset;
	display: block;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
p{
	margin: 0;
}
img{
	display: block;
}
.container{
	max-width: 47%;
	margin: 0 auto;
}
.wrapper {
	overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
	flex: 1;
	padding-top: 170px;
	position: relative;
}
.title{
	font-size: 24px;
	margin-bottom: 40px;
}

@import 'common/adaptive';
@import 'common/fonts';
@import 'common/header';
@import 'common/footer';
@import 'pages/main'; 
@import 'pages/index';
@import 'pages/basic-good';
@import 'pages/login';
@import 'pages/basket';
@import 'pages/404';
@import 'pages/text';
@import 'pages/contacts';
