/* Button */
.bx-catalog-subscribe-button
{
    margin-bottom: 6px;
    display: inline-block;
}
.bx-catalog-popup-content
{
    width: 90%;
    max-width: 280px;
}
/* Subscribe popup */
.bx-catalog-subscribe-form-container-label
{
    font-size:13px;
    color: #5a6c77;
    padding-bottom: 2px;
}
.bx-catalog-subscribe-form-container-input
{
    position: relative;
}
.bx-catalog-subscribe-form-container-input input[type="text"] {
    display: block;
    width: 100%;
    font-size: 18px;
    height: 38px;
    margin: 0;
    padding: 0 4px;
    border: 1px solid #CCD5DB;
    border-radius: 2px;
    background: #f8fafc;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bx-catalog-subscribe-form-star-required {
    color: #d93333;
}
.bx-catalog-subscribe-form-container .bx-captcha{
    margin-bottom: 10px;
}
.bx-catalog-popup-message
{
    font-weight: bold;
    min-width: 240px;
    margin: 0 0 0;
}

/* Alert style */
.bx-catalog-subscribe-alert {
    background-color: #edf6fc;
    color: #000;
    font-size: 15px;
    min-height: 45px;
    text-align: center;
    padding: 12px 40px 12px 60px;
    position: relative;
    width: 280px;
}
.bx-catalog-subscribe-aligner {
    display: inline-block;
    height: 45px;
    margin-left: -1px;
    vertical-align: middle;
    width: 1px;
}
.bx-catalog-subscribe-alert-text {
    display: inline-block;
    vertical-align: middle;
}
.bx-catalog-subscribe-alert-footer {
    text-align: center;
}
.bx-catalog-subscribe-alert-popup {
    background-color: #edf6fc !important;
    border: 1px solid #edf6fc !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
    box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
}



.SUBS-POPUP{
    width: 300px;
    height: 240px;
}
.SUBS-POPUP .popup-window-buttons{
    display: flex;
    padding-top: 10px;
    justify-content: center;/*space-between;*/
}

.SUBS-POPUP .popup-window-buttons .btn{
    font-weight: bold;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 40px !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    cursor: pointer;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    text-transform: uppercase;
    border: solid 2px #000 !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.SUBS-POPUP .popup-window-buttons .btn span{

    font-family: 'GothamPro' !important;
    font-size: 14px !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
}

.SUBS-POPUP .popup-window-buttons .btn:hover{
    background-color: #fff;
}
.SUBS-POPUP .popup-window-buttons .btn:hover span {
    color: #000;
}

.SUBS-POPUP .popup-window-content{
    padding: 0;
}

.SUBS-POPUP .popup-window-titlebar-text{
    color: #000;
}

.SUBS-POPUP .bx-catalog-subscribe-form-container-input input{
    height: 30px;
    text-align: center;
    background-color: #f5f5f5;
    border: none;
    font-size: 14px;
    padding: 0 10px;
    width: 100%;
}
.subscribe-container{
    width: 90%;
    margin: 0 auto;
}
.subscribe-input{
    margin-bottom: 15px;
}
.subscribe-btn{
    width: 90%;
}
