.footer{
	padding-bottom: 20px;
	padding-left: 60px;
	padding-right: 20px;
	margin-right: 330px;
	color: #b3b3b3;
	&-toTop{
		display: none;
		width: 30px;
		height: 30px;
		background: url('../images/toTop.png') center no-repeat;
		background-size: contain;
		cursor: pointer;
		position: fixed;
		left: 15px;
		bottom: 70px;
	}
	&-top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 13px;
		&-col{
			display: flex;
			@media screen and (min-width: 1025px) {
				> a:hover{
					text-decoration: underline;
				}
			}
			&-item{
				display: flex;
				align-items: center;
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
				img{
					margin-left: 5px;
				}
			}
			&-social{
				display: flex;
				a{
					margin-right: 10px;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
	&-menu{
		color: #000
	}
	&-info{
		text-transform: uppercase;
		font-size: 10px;
		line-height: 14px;
		margin-top: 20px;
	}
}

@media screen and (max-width:1919px){
	.footer{
		margin-right: 250px;
		&-top{
			flex-direction: column;
			align-items: flex-start;
			white-space: nowrap;
		}
		&-menu{
			margin-top: 10px;
		}
	}
}

@media screen and (max-width:1200px){
	.footer{
		margin-right: 0;
		&-menu{
			flex-wrap: wrap;
		}
		&-top{
			&-col{
				&-item{
					margin-bottom: 10px;
				}
			}
		}
	}
}

@media screen and (max-width:767px){
	.footer{
		padding-left: 10px;
		padding-right: 10px;
		&-toTop{
			bottom: 50px;
			z-index: 10;
		}
		&-top{
			flex-direction: column-reverse;
			&-col{
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				&-item{
					margin-right: 0;
					margin-bottom: 15px;
				}
				&-social{
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
		}
		&-info{
			text-align: center;
			margin-top: 0;
		}
	}
}